/*EXPERIMENTAL*/

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    background-color: #e3e8f4;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dec6b4;
    height: 100px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  h1{
    font-size: 1.5rem;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04aa6d;
  }
  
  .bild {
    height: 68px;
    width: auto;
    margin-top: 1rem;
    margin-left: 6rem;
  }
  
  .header {
    margin-top: 1.8rem;
    margin-left: 6rem;
    text-decoration: underline;
  }
  
  .logruta {
    position: relative;
    width: 20rem;
    height: 16rem;
    background-color: #dec6b4;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    font-size: 22px;
    border-radius: 15px;
  }
  
  .logbtn {
    height: 35px;
    width: 90px;
    margin: 0;
    position: absolute;
    top: 85%;
    left: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .txtrut {
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
  }
  




/*
    GLOBAL CSS
    - Applies everwhere
*/

:root {
    /* COLORS */
    --bg-color: #E3E8F4;
    --fg-color: #DEC6B4;
    --detail-color: #cecece;
    --text-color: #55451C;
    --accent-color: var(--detail-color);

    /* SIZES */
    --sidenav-width:         15vw;
    --sidenav-offset:      var(--sidenav-width) ;
    --tb-padding:             1vw;
    --main-font-size:      0.75vw;
    --hr-height:              2px;
    --content-side-padding:    2%;

    /* OTHER */
    --border: 1px solid #cecece;
    --v-pad: calc(var(--tb-padding)/2);
    --content-padding: var(--v-pad) var(--v-pad) var(--v-pad) var(--v-pad); /* TOP, RIGHT, BOTTOM, LEFT */
}

*{
    margin: 0;
    font-size: var(--main-font-size);

    color: var(--text-color);
    font-family: 'Roboto Condensed', sans-serif;

    text-decoration: underline black;
}

body {
    align-items: center;
    overflow-y:hidden;
}

hr {
    height: var(--hr-height); /* uses border thickness even though its not a border*/
    background-color: var(--detail-color);
    border: none;
}

button {
    background-color: var(--fg-color);
    outline: none;
    box-shadow: none;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    border: none;
    
}


/* 
    CLASSES
    - Applies only to classes and their children.
*/

.sidenav {
    margin-top: 0;
    width: var(--sidenav-width); 
    height: 100%;

    background-color:  var(--fg-color);
    
    float: left;
    position: fixed;
    z-index: 3;
    justify-content: center;
}

.sidenav > a {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.head {
    display: none;
    width: 100%;
    background-color: var(--fg-color);
    padding-top: 2%;
    padding-bottom: 2%;
    position: fixed;
    overflow: hidden;
    z-index: 2;
}

#sidenavtoggle {
    display: none;
}

#imgtoggle {
    display: none;
}

/* Contains the interactibe content */
.content {
    margin-left: var(--sidenav-offset);
    padding-left: var(--content-side-padding);
    padding-bottom: 5.5vh;
    width: 45%;
    height: 100%;
    padding-right: 25%;
    
    background-color: var(--bg-color);
    position: fixed;
    overflow-x: hidden;
    padding-right: calc(calc(100vw - var(--sidenav-offset)) - calc(var(--content-side-padding) - 45%));
}




/*
    MEDIA CSS
    - Applies to different sizes of screens
*/

/* MOBILE */
@media screen and (max-width: 850px) {
    :root {
        /* SIZES */
        --sidenav-width:         80vw;
        --sidenav-offset:         0vw;
        --topnav-height:          4vh;
        --topnav-offset:          5vh;
        --main-font-size:       2.4vw;
        --hr-height:              2px;
    
        /* OTHER */
        --border: 1px solid #cecece;
        --content-padding: 0.5vh 0.5vh 0.5vh 0.5vh; /* TOP, RIGHT, BOTTOM, LEFT */
    }

    * {
        font-size: 3vw;
    }

    nav {
        display: none;
    }

    .sidenav {
        display: none;
        font-size: 3vw;
        padding: 0.5vh 0.5vh 0.5vh 0.5vh;
    }

    .sidenav > * {
        font-size: 5vw;
    }

    .sidenav > a > * {
        font-size: 5vw;
    }

    .sidenav > a {
        font-size: 2rem;
    }

    .sidenav > * > ion-icon {
        height: 20vh;
        height: 4vh; width: 7vw;
    }

    .sidenav > * > * > ion-icon {
        height: 20vh;
        height: 4vh; width: 7vw;
    }

    ion-icon {
        height: 20vh;
        height: 4vh; width: 7vw;
    }

    .head {
        display: inherit;
    }

    #sidenavtoggle {
        display: inherit;
        padding-left: 100%;
    }

    #imgtoggle {
        display: inherit;
        padding: 0;
        width: 30%;
        padding-bottom: 5%;
    }

    .content {
        margin-top: 11%;
        margin-left: var(--sidenav-offset);
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 5.5vh;
        width: 96%;
        height: 100%;
        
        background-color: var(--bg-color);
        position: fixed;
        overflow-x: hidden;
    }
}