body {
    overflow: auto;
}

.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.home-container .nyheter {
  background-color: #DEC6B4;
  padding: 12px 18px;
  display: block;
  margin-left: 12rem; /* Use rem units for margin */
  margin-top: 2rem; /* Adjust as needed */
  overflow-y: auto;
  max-height: 430px;
  width: 85%; /* Use percentage for responsiveness */
}

.nyheter::-webkit-scrollbar {
    width: 8px;
  }
  
  .nyheter::-webkit-scrollbar-track {
    border-radius: 100px;
  }
  
  .nyheter::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 100px;
  }

  .nyheter hr {
    background-color: #a0a0a0;
    text-decoration: none;
    height: 2px;
    border: 0;
    border-radius: 24px;
  }

  .home-container .schema {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    height: 470px;
    width: 70%;
    background-color: #DEC6B4;
    margin-left: 18rem;
    margin-top: 2rem;
  }

  .schema img {
    display: block; /* Adjust image display property */
    margin: auto;
    max-width: 100%; /* Ensure images are responsive */
    height: auto; /* Maintain aspect ratio */
}


  .home-container .todo-list {
    height: auto;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border: 1px solid #a0a0a0;
    overflow: auto;
    border-radius: 24px;
  }

  .todo-list::-webkit-scrollbar {
    width: 4px;
  }
  
  .todo-list::-webkit-scrollbar-track {
    border-radius: 100px;
  }
  
  .todo-list::-webkit-scrollbar-thumb {
    background-color: #606060;
    border-radius: 100px;
  }


  .todo-title {
    text-align: center;
    text-decoration: underline;
  }

  .list-item {
    border-radius: 24px;
    display: flex;
    font-size: 18px;
    flex-direction: column;
    text-align: center;
    padding: 12px 14px;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
  }


  .home-container .todo-prov-list {
    height: auto; /* Allow content to determine height */
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    margin-top: 2rem;
    border: 1px solid #a0a0a0;
    border-radius: 24px;
}

  .prov-title {
    text-align: center;
    text-decoration: underline;
  }

  .prov-item {
    border-radius: 24px;
    display: flex;
    font-size: 18px;
    flex-direction: column;
    text-align: center;
    padding: 12px 14px;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
  }

  .todo-prov-list::-webkit-scrollbar {
    width: 4px;
  }
  
  .todo-prov-list::-webkit-scrollbar-track {
    border-radius: 100px;
  }
  
  .todo-prov-list::-webkit-scrollbar-thumb {
    background-color: #606060;
    border-radius: 100px;
  }



  @media only screen and (max-width: 600px) {
    .home-container {
        padding: 0.5rem;
    }

    .nyheter,
    .schema,
    .todo-list,
    .todo-prov-list {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}