body {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  background-color: #e3e8f4;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dec6b4;
  height: 100px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

.bild {
  height: 68px;
  width: auto;
  margin-top: 1rem;
  margin-left: 6rem;
}

.header {
  margin-top: 1.8rem;
  margin-left: 6rem;
  text-decoration: underline;
}

.logruta {
  position: relative;
  width: 20rem;
  height: 16rem;
  background-color: #dec6b4;
  margin: auto;
  margin-top: 150px;
  padding: 20px;
  font-size: 22px;
  border-radius: 15px;
}

.logbtn {
  height: 35px;
  width: 90px;
  margin: 0;
  position: absolute;
  top: 85%;
  left: 80%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.txtrut {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
}
